.main-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.items{
  display: flex;
  flex-direction: column;
}

.item-on-home{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.make-row{
  display: flex;
  gap: 15px;
}
.testimonial-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-on-home h2 {
  position: relative;
  margin-bottom: -20px;
  margin-top: -10px;
}

.item-on-home h2::after {
  content: "";
  width: 50%;
  height: 4px;
  background: red;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.testimonial-inner h2 {
  position: relative;
}

.testimonial-inner h2::after {
  content: "";
  width: 50%;
  height: 4px;
  background: red;
  position: absolute;
  bottom: -3px;
  left: 0;
}


