.mainlisting {
  display: flex;
  text-align: center;
  justify-content: center;
}

.inner-listing h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.inner-listing {
  width: 80%;
  background: white;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 5px;
}

.innermost-listing {
  display: flex;
  text-align: left;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.listingimages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.mainimage {
  width: 800px;
  height: 380px;
  transition: transform 0.5s;
}
.mainimage:hover {
  transform: translateY(-10px);
}

.mainimage img {
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.smallimages {
  display: flex;
  align-items: flex-start;
}

.smallimages img {
  width: 131px;
  height: 100px;
  border: 1px solid #c9c9c9;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-right: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}

.smallimages img:hover {
  transform: translateY(-10px);
}

.listing-info {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.listing-info span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.listing-info .addr {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.listing-info .type {
  border: none;
  background: green;
  width: fit-content;
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.description-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.description-text {
  font-size: 18px;
  color: #484646;
}
.facilities {
  display: flex;
  gap: 15px;
  align-items: center;
}
.facilities div {
  font-weight: 500;
}
.facilities-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

button {
  margin-top: 15px;
  width: 800px;
  border: none;
  outline: none;
  padding: 15px;
  background: green;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.discount span {
  color: green;
}

.address {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 27px;
  font-weight: 500;
}
.icons {
  color: green;
  width: 20px;
}
.inner-faci {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  display: flex;
  gap: 25px;
  align-items: center;
}

.faci-text {
  color: #484646;
  font-weight: 400;
}
.contact-text {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid green;
  background: green;
  color: white;
  width: fit-content;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.contact-text-text {
  font-size: 18px;
  color: red;
  font-weight: 500;
}
