.main-search {
  margin: 30px;
  display: flex;
  height: 100vh;
}

.search-left {
  border-right: 3px solid #c9c9c9;
  border-radius: 3px;
  padding: 10px;
  flex-basis: 30%;
}

.search-term {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.search-term input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #c9c9c9;
  font-size: 15px;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.checkboxes input {
  width: 15px;
}

.checkboxes div {
  display: flex;
  gap: 3px;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.amenities div {
  display: flex;
  gap: 3px;
}

.amenities input {
  width: 16px;
}

.combo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.combo select {
  padding: 10px;
  width: 255px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  color: #827f7f;
}

.search-right {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.search-right hr {
  border: 2px solid #c9c9c9;
  border-radius: 3px;
}

.search-right span {
  font-size: 25px;
  font-weight: 500;
  color: #3a3939;
  margin-bottom: 10px;
}
