.main-listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.main-listings form{
  width: 80%;
  display: flex;
  justify-content: center;
}

.main-listings h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.rows {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  background: white;
  padding: 30px;
  border-radius: 5px;
}

.columns-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputss {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputss input {
  height: 65px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}
.inputss textarea {
  padding-left: 20px;
  padding-top: 10px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}
.checks {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.checks div {
  display: flex;
  gap: 3px;
}

.column-right {
  display: flex;
  flex-direction: column;
}

.uploads {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  gap: 8px;
  flex-direction: column;
}
.insideuploads {
  display: flex;
  gap: 15px;
  
}
.images {
  border: none;
  padding: 10px;
  background: #9a9797;
  border-radius: 5px;
  margin-bottom: 5px;
}
.uploads input {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.uploadss button {
  padding: 0 4px;
  border: 3px solid green;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  width: fit-content;
  
}

.creates {
  padding: 15px;
  border: none;
  background: green;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

.numbers {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.numbers div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.numbers input {
  padding: 10px;
  outline: none;
  border: 1px solid #1113;
  border-radius: 5px;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prices div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.prices input {
  padding: 10px;
  outline: none;
  border: 1px solid #1113;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-weight: 500;
  margin-bottom: 5px;
}

.fileperc-loading {
  color: black;
  font-weight: 500;
  margin-bottom: 5px;
}
.fileperc-success {
  color: green;
  font-weight: 500;
  margin-bottom: 5px;
}

.for-error {
  color: red;
  margin-top: 10px;
  font-weight: 500;
}

.uploaded-images {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.uploaded-images img {
  width: 70px;
  height: 70px;
}

.uploaded-images span{
    color: red;
    font-weight: 500;
    cursor: pointer;
}

.image-para{
  margin-bottom: 10px;
}